{
  "development": {
    "url": "",
    "dialect": "postgres",
    "pool": {
      "max": 5,
      "min": 0,
      "idle": 20000,
      "acquire": 20000
    }
  },
  "test": {
    "url": "",
    "dialect": "postgres",
    "pool": {
      "max": 5,
      "min": 0,
      "idle": 20000,
      "acquire": 20000
    }
  },
  "production": {
    "url": "",
    "dialect": "postgres",
    "pool": {
      "max": 5,
      "min": 0,
      "idle": 20000,
      "acquire": 20000
    }
  }
}
